<h3>Micro Panel</h3>
<div>
  <img id="micropanel" data-bind="attr: {src: currentImg}" style="width: 400px; border: 5px solid black; image-rendering: pixelated;">
</div>
<div>
  <button class="btn box" data-bind="click: btnMenu"><b>M</b></button>
  <button class="btn box" data-bind="click: btnCancel">
    <i class="fas fa-times"></i>
  </button>
  <button class="btn box" data-bind="click: btnPlay">
    <i class="fas fa-play"></i>
  </button>
  <button class="btn box" data-bind="click: btnPause">
    <i class="fas fa-pause"></i>
  </button>
  <button class="btn box" data-bind="click: btnRefresh">
    <i class="fas fa-sync"></i>
  </button>
</div>
<script>
  // keep the screen refreshed when it is visible
  function respondToVisibility(element, callback) {
    var options = {
      root: document.documentElement,
    };

    var observer = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        callback(element, entry.intersectionRatio > 0);
      });
    }, options);

    observer.observe(element);
  }

  var refreshIntervalId;

  respondToVisibility(document.getElementById('micropanel'), (elem, vis) => {
    if (vis) {
      let model = ko.contextFor(elem).$data;
      model.fetchImg();
      refreshIntervalId = window.setInterval(model.fetchImg, 1000);
    } else {
      clearInterval(refreshIntervalId);
    }
  });
</script>
