<form id="settings_display_panel" class="form-horizontal">
	<div class="tabbable">
		<h4>{{ _('Micro Panel Plugin') }}</h4>

		<ul class="nav nav-tabs" id="display_panel_tabs">
			<li class="active"><a data-toggle="tab" href="#display_panel_buttons">Buttons</a></li>
			<li><a data-toggle="tab" href="#display_panel_display">Display</a></li>
			<li><a data-toggle="tab" href="#display_panel_soft_buttons">Soft Buttons</a></li>
		</ul>

		<div class="tab-content">

			<div id="display_panel_buttons" class="tab-pane active">

				<div class="control-group">
					<label class="control-label">{{ _('Mode Button:') }}</label>
					<div class="controls" data-toggle="tooltip" title="{{ _('The Raspberry Pi GPIO pin (BCM mode) the Mode button is connected to.') }}">
						<select data-bind="value: settings.plugins.display_panel.pin_mode">
							<option value="-1">Disabled</option>
							<option value="4">GPIO 4</option>
							<option value="5">GPIO 5</option>
							<option value="6">GPIO 6</option>
							<option value="12">GPIO 12</option>
							<option value="13">GPIO 13</option>
							<option value="16">GPIO 16</option>
							<option value="17">GPIO 17</option>
							<option value="18">GPIO 18</option>
							<option value="19">GPIO 19</option>
							<option value="20">GPIO 20</option>
							<option value="21">GPIO 21</option>
							<option value="22">GPIO 22</option>
							<option value="23">GPIO 23</option>
							<option value="24">GPIO 24</option>
							<option value="25">GPIO 25</option>
							<option value="26">GPIO 26</option>
							<option value="27">GPIO 27</option>
						</select>
						<div class="help-block">{{ _('The Raspberry Pi GPIO pin the Mode button is connected to.') }}</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">{{ _('Cancel Button:') }}</label>
					<div class="controls" data-toggle="tooltip" title="{{ _('The Raspberry Pi GPIO pin (BCM mode) the Cancel button is connected to.') }}">
						<select data-bind="value: settings.plugins.display_panel.pin_cancel">
							<option value="-1">Disabled</option>
							<option value="4">GPIO 4</option>
							<option value="5">GPIO 5</option>
							<option value="6">GPIO 6</option>
							<option value="12">GPIO 12</option>
							<option value="13">GPIO 13</option>
							<option value="16">GPIO 16</option>
							<option value="17">GPIO 17</option>
							<option value="18">GPIO 18</option>
							<option value="19">GPIO 19</option>
							<option value="20">GPIO 20</option>
							<option value="21">GPIO 21</option>
							<option value="22">GPIO 22</option>
							<option value="23">GPIO 23</option>
							<option value="24">GPIO 24</option>
							<option value="25">GPIO 25</option>
							<option value="26">GPIO 26</option>
							<option value="27">GPIO 27</option>
						</select>
						<div class="help-block">{{ _('The Raspberry Pi GPIO pin the Cancel button is connected to.') }}</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">{{ _('Play Button:') }}</label>
					<div class="controls" data-toggle="tooltip" title="{{ _('The Raspberry Pi GPIO pin (BCM mode) the Play button is connected to.') }}">
						<select data-bind="value: settings.plugins.display_panel.pin_play">
							<option value="-1">Disabled</option>
							<option value="4">GPIO 4</option>
							<option value="5">GPIO 5</option>
							<option value="6">GPIO 6</option>
							<option value="12">GPIO 12</option>
							<option value="13">GPIO 13</option>
							<option value="16">GPIO 16</option>
							<option value="17">GPIO 17</option>
							<option value="18">GPIO 18</option>
							<option value="19">GPIO 19</option>
							<option value="20">GPIO 20</option>
							<option value="21">GPIO 21</option>
							<option value="22">GPIO 22</option>
							<option value="23">GPIO 23</option>
							<option value="24">GPIO 24</option>
							<option value="25">GPIO 25</option>
							<option value="26">GPIO 26</option>
							<option value="27">GPIO 27</option>
						</select>
						<div class="help-block">{{ _('The Raspberry Pi GPIO pin the Play button is connected to.') }}</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">{{ _('Pause Button:') }}</label>
					<div class="controls" data-toggle="tooltip" title="{{ _('The Raspberry Pi GPIO pin (BCM mode) the Pause button is connected to.') }}">
						<select data-bind="value: settings.plugins.display_panel.pin_pause">
							<option value="-1">Disabled</option>
							<option value="4">GPIO 4</option>
							<option value="5">GPIO 5</option>
							<option value="6">GPIO 6</option>
							<option value="12">GPIO 12</option>
							<option value="13">GPIO 13</option>
							<option value="16">GPIO 16</option>
							<option value="17">GPIO 17</option>
							<option value="18">GPIO 18</option>
							<option value="19">GPIO 19</option>
							<option value="20">GPIO 20</option>
							<option value="21">GPIO 21</option>
							<option value="22">GPIO 22</option>
							<option value="23">GPIO 23</option>
							<option value="24">GPIO 24</option>
							<option value="25">GPIO 25</option>
							<option value="26">GPIO 26</option>
							<option value="27">GPIO 27</option>
						</select>
						<div class="help-block">{{ _('The Raspberry Pi GPIO pin the Pause button is connected to.') }}</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">{{ _('Debounce Time:') }}</label>
					<div class="controls" data-toggle="tooltip" title="{{ _('When detecting a button press wait for this period for the signal to stabilize.') }}">
            			<div class="input-append">
							<input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.display_panel.debounce">
							<span class="add-on">ms</span>
						</div>
						<div class="help-block">{{ _('When detecting a button press the Raspberry Pi waits this long for the signal to stabilize. If you experience unintended "double clicks" try increasing this value...') }}
						</div>
					</div>
				</div>

				<div>
					{{ _('Further information about the Raspberry Pi GPIO can be found at <a target="_blank" href="https://www.raspberrypi.org/documentation/usage/gpio/">raspberrypi.org</a>, or, for more advanced capabilities see Gadgetoid\'s excellent <a tsarget="_blank" href="https://pinout.xyz/" >interactive pinout diagram</a>.') }}
				</div>

			</div>

			<div id="display_panel_display" class="tab-pane">

				<div class="control-group">
					<label class="control-label">{{ _('Display address:') }}</label>
					<div class="controls data-toggle="tooltip" title="{{ _('The I&sup2;C address the display uses.') }}"">
						<select data-bind="value: settings.plugins.display_panel.i2c_address">
							<option value="0x3c">0x3c</option>
							<option value="0x3d">0x3d</option>
						</select>
						<div class="help-block">{{ _('The I&sup2;C address the display uses. Normally this is "0x3c" but can depend on the model of the OLED display used. Check using "i2cdetect -y 1" at the console.') }}</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">{{ _('Date format:') }}</label>
					<div class="controls data-toggle="tooltip" title="{{ _('Format the Time to Completion display.') }}">
						<input type="text" class="input-block-level" data-bind="value: settings.plugins.display_panel.eta_strftime">
						<div class="help-block">{{ _('Format the Time to Completion display using <a target="blank" href="https://strftime.org/">Python\'s strftime directives</a>.') }}</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">{{ _('Rotate display 180&deg;:') }}</label>
					<div class="controls" data-toggle="tooltip" title="{{ _('Rotate image on display by 180&deg;.') }}">
						<input class="input-checkbox" type="checkbox" data-bind="checked: settings.plugins.display_panel.image_rotate">
						<div class="help-block">{{ _('Rotate image on display by 180&deg;.') }}</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">{{ _('Blank the Display when:') }}</label>
					<div class="controls data-toggle="tooltip" title="{{ _('Condition triggering the display turning off (after the timeout.') }}"">
						<select data-bind="value: settings.plugins.display_panel.display_timeout_option">
							<option value="-1">never</option>
							<option value="0">printer is disconnected</option>
							<option value="1">printer is disconnected or idle</option>
							<option value="2">always</option>
						</select>
						<div class="help-block">{{ _('Condition triggering the display turning off after the timeout set below.<br />Paused prints or not printing are considered idle states.<br /> The display will turn on it the status changes; the printer connectes or a print starts for example.') }}</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">{{ _('Display timeout:') }}</label>
					<div class="controls" data-toggle="tooltip" title="{{ _('Time before turning off the display.') }}">
            			<div class="input-append">
							<input type="number" step="any" min="1" class="input-mini text-right" data-bind="value: settings.plugins.display_panel.display_timeout_time">
							<span class="add-on">min</span>
						</div>
						<div class="help-block">{{ _('Time to wait before the display to turn off after the trigger above.<br />(The display can be turned on again by pressing any button.)') }}</div>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">{{ _('Time based progress:') }}</label>
					<div class="controls" data-toggle="tooltip" title="{{ _('Calculate the print progress by using time printed and total print time instead of the internally reported percentage.') }}">
						<input class="input-checkbox" type="checkbox" data-bind="checked: settings.plugins.display_panel.timebased_progress">
						<div class="help-block">{{ _('Calculate the print progress by using <em>time printed</em> and <em>total print time</em> instead of the internally reported percentage.') }}</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{ _('Progress on top:') }}</label>
					<div class="controls" data-toggle="tooltip" title="{{ _('Show the Progress Bar at the top of the display. Useful for dual color screens. Changing this setting requires restarting OctoPrint.') }}">
						<input class="input-checkbox" type="checkbox" data-bind="checked: settings.plugins.display_panel.progress_on_top">
						<div class="help-block">{{ _('Show the Progress Bar at the top of the display. Useful for dual color screens. Changing this setting requires restarting OctoPrint.') }}</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{{ _('Virtual Panel:') }}</label>
					<div class="controls" data-toggle="tooltip" title="{{ _('Add a Micro Panel tab to the OctoPrint WebUI which mirrors the physical display. Changing this setting requires restarting OctoPrint.') }}">
						<input class="input-checkbox" type="checkbox" data-bind="checked: settings.plugins.display_panel.virtual_panel">
						<div class="help-block">{{ _('Add a Micro Panel tab to the OctoPrint WebUI which mirrors the physical display. Changing this setting requires restarting OctoPrint.') }}</div>
					</div>
				</div>

			</div>

			<div id="display_panel_soft_buttons" class="tab-pane">
				<div data-bind="foreach: settings.plugins.display_panel.soft_buttons">
					<div class="control-group">
						<label class="control-label"><input type="text" style="width:8em" placeholder="Label" data-bind="value: label"></label>
						<div class="controls">
							<div class="input-prepend">
						     		<span class="add-on">GCode</span>
								<input type="text" data-bind="value: gcode" placeholder="G28">
							</div>
							<button class="btn" data-bind="click: (me) => {$parent.settings.plugins.display_panel.soft_buttons.remove(me);}">Remove</button>
						</div>
					</div>
				</div>

				<button class="btn btn-primary" data-bind="click: () => {settings.plugins.display_panel.soft_buttons.push({label: '', gcode: ''});}">Add a Soft Button</button>

				<hr>

				<div class="control-group">
					<label class="control-label">{{ _('Hide completed files:') }}</label>
					<div class="controls" data-toggle="tooltip" title="{{ _('In the file selection screen, do not show successfully printed files.') }}">
						<input class="input-checkbox" type="checkbox" data-bind="checked: settings.plugins.display_panel.file_select_hide_complete">
						<div class="help-block">{{ _('In the file selection screen, do not show successfully printed files.') }}</div>
					</div>
				</div>


			</div>

		</div>
	</div>
</form>
